{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
