input[type="date"]::-webkit-calendar-picker-indicator {
 display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
 display: none;
}

input[type="date"]::-ms-clear {
 display: none;
 width : 0;
 height: 0;
}